unpackaged/main/default/flows/Students.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_data</name>
        <label>assign data</label>
        <locationX>1169</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>iterate_students.ReportingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cngdt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upadteStudents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>upadteStudents</name>
        <label>upadteStudents</label>
        <locationX>1208</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>upadestuList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterate_students</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_students</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>StudetsList_Check</name>
        <label>StudetsList Check</label>
        <locationX>697</locationX>
        <locationY>153</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>studentList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterate_students</targetReference>
            </connector>
            <label>List is NOT Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Students {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Students</label>
    <loops>
        <name>iterate_students</name>
        <label>iterate students</label>
        <locationX>873</locationX>
        <locationY>159</locationY>
        <collectionReference>studentList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatRecs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllStudents</name>
        <label>GetAllStudents</label>
        <locationX>504</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StudetsList_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>courid</elementReference>
            </value>
        </filters>
        <object>Student__c</object>
        <outputReference>studentList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ReportingDate__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updatRecs</name>
        <label>updatRecs</label>
        <locationX>851</locationX>
        <locationY>354</locationY>
        <inputReference>upadestuList</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>144</locationY>
        <connector>
            <targetReference>GetAllStudents</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>cngdt</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>courid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>studentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student__c</objectType>
    </variables>
    <variables>
        <name>upadestuList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student__c</objectType>
    </variables>
</Flow>
