unpackaged/main/default/flows/ttttttt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>contUpdate</name>
        <label>contUpdate</label>
        <locationX>610</locationX>
        <locationY>776</locationY>
        <assignmentItems>
            <assignToReference>cons2Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cont_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cont_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_assignment</name>
        <label>Email assignment</label>
        <locationX>745</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>Cont_loop.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>730</locationX>
        <locationY>498</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_for_web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cont_loop.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_assignment</targetReference>
            </connector>
            <label>check for web</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ttttttt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ttttttt</label>
    <loops>
        <name>Cont_loop</name>
        <label>Cont loop</label>
        <locationX>197</locationX>
        <locationY>495</locationY>
        <collectionReference>Get_Child_Conts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Conts</name>
        <label>Get Child Conts</label>
        <locationX>499</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cont_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>199</locationX>
        <locationY>769</locationY>
        <inputReference>cons2Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Child_Conts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rating</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>con</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>cons2Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>mail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>test@email.com</stringValue>
        </value>
    </variables>
</Flow>
