unpackaged/main/default/flows/Update_Student_Phone_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Student_List_Assignment</name>
        <label>Student List Assignment</label>
        <locationX>1230</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>StudentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterartion_Student</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterartion_Student</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Student_Phone_Number_Assignment</name>
        <label>Student Phone Number Assignment</label>
        <locationX>1225</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Iterartion_Student.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Student_List_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cheeck_Students</name>
        <label>Cheeck Students</label>
        <locationX>734</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_students</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Students</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterartion_Student</targetReference>
            </connector>
            <label>Have students</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Student Phone Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Student Phone Number</label>
    <loops>
        <name>Iterartion_Student</name>
        <label>Iterartion Student</label>
        <locationX>932</locationX>
        <locationY>369</locationY>
        <collectionReference>Get_All_Students</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Student_Phone_Number_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updating_all_related_students</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Students</name>
        <label>Get All Students</label>
        <locationX>544</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cheeck_Students</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_all_related_students</name>
        <label>Updating all related students</label>
        <locationX>927</locationX>
        <locationY>537</locationY>
        <inputReference>StudentList</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_All_Students</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Course__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>StudentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student__c</objectType>
    </variables>
</Flow>
